@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Lexend+Deca&display=swap");

:root {
 --main-background: hsl(233, 47%, 7%);
 --card-background: hsl(244, 38%, 16%);
 --main-heading: hsl(0, 0%, 100%);
 --main-paragraph: hsla(0, 0%, 100%, 0.75);
 --stat-headings: hsla(0, 0%, 100%, 0.6);
 --main-font: "Inter", sans-serif;
 --sub-font: "Lexend Deca", sans-serif;
}

body {
 margin: 0;
 padding: 0;
 box-sizing: border-box;
}
